*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#AAAAAA;
    animation-name: myanime;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

header{
     
   
    display: flex;
    justify-content: space-between;
    padding: 3%;
    padding-right: 0; 
    position: sticky;
    top: 0; 
    z-index: 1000;


}

header a{
    text-decoration: none;
    color: black;
   
   
}

#logo{
    display: flex;
    font-family:cursive;
    font-size: 20px;
    padding-bottom: 20px;
    background-color:#F7ECDE;
    padding: 10px;
    border-radius: 20px;
    
   
}

nav{
    background-color:#F7ECDE;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  
    
}


nav a {
    
    font-family: cursive;
    text-decoration: none;
    transition: 0.5s;
    color: black;
    padding: 10px;

   
   

}
@media (max-width:600px) {
    header{
        flex-direction: column;
    }
    header nav{
        justify-content: center;
    }
    header h3{
        justify-content: center;
    }
}
nav a:hover {
            
            background-color: #F7ECDE;
            border-bottom: blue 4px solid;
            border-radius: 20px;
            

}
#intro{
    padding: 24px;
    display: flex;
    justify-content: center;   
   
}
#intro img{
       position: absolute;
       right: 55%;
}
#intro h1{
    text-align: center;
    font-weight: bold;
    font-size: 30px; 
    position: relative;
     
}

#searchbar{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
  
    
}
#searchbar input{
    border-radius: 20px; width: 300px;
    border: 0;
}

#normalh3{
    margin-left: 2.5%;
   
}

.bookline1 div a {
    font-family: monospace;
    text-decoration: none;
    color: black;
}
.bookline1 div img:hover{
  
    box-shadow:4px 4px;
    transition: 1s;
}

.bookline1 div a h4{
    font-size: 15px;
}
.bookline1 div a p{
    font-size: 8px;
    color: #C9C9C9;
}

.bookline1{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    justify-content: space-around;
    

}
.bookline1_image{
    width: 100%;
}

.Sbtn{
    margin: 3%;
    display: flex;
    justify-content: space-around;
    
}
.Sbtn a{
    text-decoration: none;
}

.Pbtn{
    color: black;
    border: black px solid;
    border-radius: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F7ECDE;
   
    
   
}
.Pbtn:hover{
    background-color:#54BAB9;
    transition: 1s;
}

.bookoftheweek{
    background-color: #F7ECDE;
    margin: 5%;
    margin-top:3% ;
    display: flex;
   
}


    

.bookoftheweek div{
    padding: 20px;
    display: grid;
    align-items: center;
   
}
.bookoftheweek div h3{
    font-size: 35px;
    font-family: cursive;
}

.bookoftheweek div h6{
    font-size: small;
    color: #DEA331;

}
.bookoftheweek div p{
    color: #646464;
    
}
.requestform{
  text-align: center;
  margin: 10%;
  padding: 30px;
  background-color: #F7ECDE;
  border-radius: 10px;
  animation-name: myanime2;
  animation-duration: 2s;



}
.requestform input{
    border-radius: 20px;
    padding: 1%;
    padding-left: 20px;
    padding-right: 20px;
    border: 0px;
}
.requestform input:hover{
    border:  red 2px solid;
   
    
}
.requestform textarea{
    border-radius: 20px;
    border: 0px;
 
    height: 100px;
    width: 200px;
    resize: vertical;



}
.requestform textarea:hover{
     border:  red 2px solid;
  
}
.requestform label{
    font-family: cursive;
}
#requestsubmit{
    font-family: cursive;
    background-color: #54BAB9;
    color: #F7ECDE;

}
.requestform h5{
    font-family: monospace;
}
.requestform a{
    text-decoration: none;
}

.singlebookdiv{
    background-color: #F7ECDE;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-right: 20%;
    margin-left: 20%;
    padding: 20px;
    border-radius: 20px;
    font-family: cursive;
    font-size: 10px;

}


 footer{
            background-color: #F7ECDE;
            text-align: center;
            padding: 2.5rem;
            font-family: cursive;
           
    }

footer h6{
    font-family: cursive;
    color: #CAAF8D;
}

@keyframes myanime{
    
    0%{
    background-color:#AAAAAA;
       
    }
    25%{
        background-color: #DEA331;
    }
    50%{
        background-color: aliceblue;
    }
    100%{
        background-color:azure;
    }
}

@keyframes myanime2 {
    0%{opacity: 0%;}
    100%{opacity:100%;}
    
}

@media(max-width:600px) {
    .bookoftheweek div p {
        color: rgb(215, 25, 25);
        font-size: 10px;
      
       
    }
}

